include template/intro
include template/header
include template/welcome
include template/menu



doctype html
html(lang="ru")
  head
    title= 'GLOBALWEB creative web-studio'
    //- meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- libs
    link( href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    //- link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    //- custom css
    link(href='css/main.css', rel='stylesheet')
  body.page
    +header()
    +nav()
    +intro()
    //- libs
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- custom scripts
    script(src="js/typewrite.min.js")
    script(src="js/main.js")
    
