mixin about(data)
  section.about
    div.about-line
    canvas#canvas
    div.container.container--about
      h2  Для кого курс
      hr  
      ul
        li
          img(src="img/about/ico.png" alt="")  
          p кто хочет создать ico
        li
          img(src="img/about/dollar.png" alt="")  
          p собрать деньги на свой стартап
        li
          img(src="img/about/marketing.png" alt="")  
          p кто хочет сделать маркетинг для ico эффективным
        li
          img(src="img/about/quality.png" alt="")  
          p юридические аспекты ico
          
          
          
        
