mixin header(date)
    header.header
        div.container.header-wrap
            div.logo
                a(href="/")
                    img(src="", alt="logo")
            div.header-nav
                div.phone
                    a( href="tel:+380680474720" )
                        div.phone-bg
                div.email
                    a( href="mailto:kostikov.kostya8@gmail.com" ) 
                        div.email-bg
                a(href="#" class="my_btn") 
                    |купить
                div.menu
                    div#hamburger
                        span
                        span
                        span

            
            
        
