mixin nav(data)
  menu.nav  
    nav.nav-wrap
      ul
        li
          a(href="#" class="nav-wrap__link") о курсе
            div.nav-wrap__link__block
        li
          a(href="#" class="nav-wrap__link")  цели и результаты
            div.nav-wrap__link__block
        li
          a(href="#" class="nav-wrap__link")  спикеры
            div.nav-wrap__link__block
        li
          a(href="#" class="nav-wrap__link") что вы получите
            div.nav-wrap__link__block
        li
          a(href="#" class="nav-wrap__link")  отзывы
            div.nav-wrap__link__block
